#formul {  
    padding: 20px 0px 0px 30px;   /* margen con valores: arriba - derecha - abajo - izquierda */ 
    font-family:verdana,arial; 
    font-size:9pt; 
}  

.campos {  
    font-family:verdana,arial;     /* tipo de letra */  
    width: 500px;                 /* anchura de campos de formulario */  
    font-size:15pt;                /* tamaño de la letra*/   
    color:#000;                 /* color del texto */   
    border: 1px dotted #58FAF4;        /* color del borde puede ser solid ó dotted */   
    background-color:#A9F5F2;    /* color del fondo */   
}  

.boton{ 
    font-size:12px; 
    font-family:Verdana,Helvetica; 
    font-weight:bold; 
    color:#000; 
    background:#BCA9F5; 
    border:100px; 
    width:80px; 
    height:70px; 
} 

#b_reset {  
    margin: 5px 0px 0px 0px;    /* margen con valores: arriba - derecha - abajo - izquierda */  
}  

#b_submit {  
    margin: -70px 0px 0px 380px;    /* margen con valores: arriba - derecha - abajo - izquierda */  
}  

aside {
    width: 600px;
    background: gray;
    height: 00px;
    float: right;
    margin-left: 0px;
    margin-top: -250px;
}

p{font-size:20px; color:#000; }